.title_info {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}

.card_img_top {
  height: 250px;
}

.item {
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
  }