.Font {
    font-family: 'Kanit', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    background-color: rgb(251, 250, 250);
}

input[name="upload"] {
    width: 260px;
}

.header {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}


.BackButtonBox {
    display: inline-block;
    margin-left: 25px;

}

.BackButton {
    display: inline-block;
    border-radius: 50%;
    border: none;
    background-color: white;
    transition: transform 0s 0s ease-in;

}

.BackButton:hover {
    transform: scale(1.1, 1.1);
}

.BackButtonImage {
    transform: rotate(180deg);
    width: 30px;
    border-radius: 50%;
    

}

.HeaderName {
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 80px;
    font-size: 20px;

}


/*กล่องสร้างหนังสือ*/
.Box_createbook {
    background-color: rgb(223, 223, 223);
    margin: 50px;
    padding: 30px;
    padding-bottom: 50px;
    position: relative;
    border-radius: 20px;
}

.Box_grid {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas: 
    'image book_detail book_detail'
    'image book_detail book_detail'
    'book_story book_story book_story'
    ;
    column-gap: 10px;
    row-gap: 10px;
}

.image {
    grid-area: image;
}

.book_detail {
    grid-area: book_detail;
}

.book_story {
    grid-area: book_story;
}

.add_button {
    position: absolute;
    bottom: 20px;
    right: 50px;
    
}

.box_image {
    border: 2px solid black;
    padding: 10px;
    
}

.Book_surface {
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}