.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  .item {
    width: 250px;
    height: 350px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.14);
  }

  .img-box {
    position: relative;
    height: 200px;
    border-bottom: 4px darkblue dashed;
    padding-bottom: 3px;
    background-color: antiquewhite;
}

  .bookImg {
    height: 195px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

  .content {
    bottom: 80%;
    font-weight: 600;
    padding-left: 10px;
    overflow-y: auto;
}
    .title-info {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .btn-add {
        margin-top: 30px;
        margin-left: 130px;
    }
    
    .btn-view {
        margin-top : -67px;
        margin-left: 65px;
    }