.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 150px;
    margin-left: 75px;
  }
  
  .item {
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
  }

.title_info {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 5px;
}

.card_img_top {
  height: 300px;
}

.btn_view {
  margin-left: 80px;
}

.btn_add {
  margin-left: 10px;
}