
.first_column {
    background-color: white;
    margin-top: 180px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
}

.flex {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item {
    display: block;
    box-sizing: border-box;
    position: relative;
    /*border: 1px solid green;*/
}
.item_1 {
    width: 25%;
}
.item_2 {
    width: 50%;
}
.item_3 {
    width: 25%;
}
.box_input{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 5px solid rgb(255, 0, 0);*/

}
.book_name {
    width: 900px;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    border: none;
    padding: 10px;
    background-color: rgb(245, 245, 245);
}
.book_name:focus {
    border: 1px solid green;
}
.box_search {
    display: inline-block;
    border: none;
    padding: 10px;
    margin-top: 10px;
    /*border: 5px solid rgb(0, 145, 255);*/
    width: 110px;
    position: absolute;
    left: 0px;
    bottom: -21px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: rgb(162, 229, 252);
}
.search {
    width: 20px;
    
}
.type {
    font-family: 'Kanit', sans-serif;
    margin-top: 10px;
    padding: 10.5px;
    position: absolute;
    right: 0px;
    bottom: -21px;
    border: none;
    background-color: rgb(255, 40, 115);
    width: 125px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    color: white;
}